{{>header}}
{{>navbar}}
<section class="container my-5">
    <form action="/getAddLogic"> 
        {{!-- get --}}
        <div class="mb-3">
            <input name="name" placeholder="please enter your name" class="form-control">
        </div>
        <div class="mb-3">
            <input name="email" placeholder="please enter your email" class="form-control">
        </div>
        <div class="mb-3">
            <input name="age" placeholder="please enter your age" class="form-control">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add User</button>
        </div>
    </form>
</section>

{{>footer}}