{{>header}}
{{>navbar}}
<section class="container my-5">
    <form  method="post"> 
        <div class="mb-3">
            <input name="id" disabled placeholder="please enter your name" class="form-control" value="{{user.id}}">
        </div>
        <div class="mb-3">
            <input name="name" placeholder="please enter your name" class="form-control" value="{{user.name}}">
        </div>
        <div class="mb-3">
            <input name="email" placeholder="please enter your email" class="form-control"  value="{{user.email}}">
        </div>
        <div class="mb-3">
            <input name="age" placeholder="please enter your age" class="form-control"  value="{{user.age}}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit User</button>
        </div>
    </form>
</section>

{{>footer}}